/* ----------------------------------------------------------------------
	Genel
---------------------------------------------------------------------- */
html {
  scroll-behavior: smooth;
}

body {
	font-family: 'Open Sans', sans-serif;
	color: #0A0203;
	background: #ffffff;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
    overflow-x:hidden;

}
h1, h2, h3, h4, h5, h6 {
	line-height: 1.6;
	margin-top: 0px;
	margin-bottom: 10px;
}
h1 { font-size: 36px; }
h2 { font-size: 30px; }
h3 { font-size: 24px; }
h4 { font-size: 18px; }
h5 { font-size: 14px; }
h6 { font-size: 12px; }

a:hover{text-decoration:none;color: #fd5671;}

a{color:#000000}

a, button, input[type=submit] {
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    text-decoration: none;
}

img{border:0px;}

ul {margin:0px 0px 0px 0px;	padding:0px 0px 0px 0px;}

a, button, input[type=submit] {
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    text-decoration: none;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,



textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
  transition: background-color 5000s ease-in-out 0s;
}

button:focus, a:focus{
    outline: 0px auto -webkit-focus-ring-color!important;}


.form-control:focus{box-shadow:unset!important;}


input, textarea, select, a, button{border-radius:0px!important; outline:none;}
textarea{font-size:14px!important;}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before{background-color: #DF206C!important;}
.custom-control-input:checked~.custom-control-label::before {background-color: #DF206C!important;}
.custom-control-label::before, .custom-control-label::after{border-radius:0px!important; width:20px; height:20px;}

.page-item.active .page-link {background-color: #E4322D;border-color: #E4322D;}
.page-link, .page-link:hover {color: #E4322D;}

.text-area{height:unset!important;}

/* ----------------------------------------------------------------------
	HEADER
---------------------------------------------------------------------- */


.header-genel{
    background-image:url(../images/slider/slide-tanitim.jpg);
    background-size:cover;
    background-position:center center;
    height:100vh;
}

.header-line{
    background-image:url(../images/slider/gradient2.png);
    background-repeat:repeat;
    height:100vh;
    width:100%;
}

.header-gradient{
    background: -moz-linear-gradient(top, rgba(0,0,0,0.7) 15%, rgba(0,0,0,0) 40%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.7) 15%,rgba(0,0,0,0) 40%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0.7) 15%,rgba(0,0,0,0) 40%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
    height:100vh;
    width:100%;
}

.header-bottom{
    width:100%;
    position:absolute;
    bottom:-5px;
    z-index:9;
}


.header-top .navbar{
    padding:0px 0px 0px 0px;
    margin-top:10px;
}

.header-menu .navbar-nav{
    position:relative;
    right:0px;
}


.header-menu .nav-link{
    font-size:16px;
    font-weight:500;
    color:#ffffff;
    font-family: 'Open Sans', sans-serif;
    padding:0px 0px 0px 30px!important;
}

.header-menu .nav-link:hover{color:#fd5671;}

.mobil-menu{
    color:#ffffff;
    font-size:18px;
    font-weight:500;
    width:100px;
}

.navbar-collapse{
    position: relative;
    width:100%;
    margin-left:20%;
    
}


.header-top{
    position:absolute;
    z-index:999;
    width:100%;
}
.logo-red{width: 150px;}
.logo-white{display:none;}
.sticky .logo-white{display:inline-block;height: 45px;}
.sticky .logo-red{display:none;}
.sticky{ background: #181818;transition: all 0.8s;-webkit-transition: all 0.8s;padding: 7px 0px 7px 0px;z-index: 9998;position:fixed;width: 100%;}
.sticky .header-top{position:relative; }
.sticky .header-top .navbar{margin-top:0px;}
.sticky .header-menu .navbar-nav{top:0px;}
.sticky .navbar-toggler{top: 25px;position: absolute;right: 0px;}
.slide-slogan{
    font-size:49px;
    font-weight:300;
    font-family: 'Open Sans', sans-serif;
    color:#ffffff;
    position: absolute;
    bottom:300px;
    text-shadow: 2px 3px 5px rgba(0,0,0,0.66);
}

.slide-slogan strong{
    font-weight:600;
    font-style:italic;
}

.slide-slogan span{
    display:inline-block;
    padding:15px 30px;
    background:rgba(0,0,0,0.67);
    margin-bottom:20px;
    line-height: 50px;
    margin-left:100px;
}

.slogan-alt{margin-left:150px!important;}


@media (max-width: 1200px) {  
.header-menu .nav-link{padding: 0px 0px 0px 20px!important; font-size:16px;}

}


 
@media (max-width: 992px) {
.logo-red{width:100px;} 
.header-menu .navbar-nav{position:relative; margin-top:10px;}
.header-menu .nav-link{background-color: rgba(255, 255, 255, 0.8); border-bottom: 1px #adadad solid; color:#333333; padding:5px 15px!important; font-size:15px;}
.header-menu .nav-link:hover{background-color: #181818; color:#ffffff; border-bottom: 1px rgb(209, 35, 42) solid;}
.sticky .header-menu .nav-link{background-color: rgba(255, 255, 255, 1.0); border-bottom: 1px rgba(189, 189, 189, 0.4) solid;}
.sticky .header-menu .nav-link:hover{background-color: #181818; border-bottom: 1px #e04249 solid;}
.header-menu .nav-item:last-child .nav-link, .sticky .header-menu .nav-item:last-child .nav-link:hover{border-bottom:0px;}
.slide-slogan span{margin-left:0px;}
.slogan-alt{margin-left:50px!important;}

}

@media (max-width: 768px) {
.slide-slogan span{font-size:30px; line-height:40px; background:none; margin-bottom:0px; padding:0px 0px;}
.slide-slogan{bottom:300px; font-weight:700;}
.header-genel{min-height:600px;}
.slogan-alt{margin-left:0px!important;}
.slide-slogan strong{font-size:60px!important; display:block; line-height:60px;}
.slide-slogan .slogan-alt{font-size:35px; line-height:35px;}
.header-bottom{z-index:0;}

}

@media (max-width: 480px) {   
.slide-slogan {bottom: 50px;}
.slide-slogan strong{font-size:30px!important;}

}


/* ----------------------------------------------------------------------
	GELİŞİM DESTEK
---------------------------------------------------------------------- */

.tanitim-background{
    position: absolute;
    right: -860px;
    top: -100px;
    z-index: 1001;
}

.tanitim-background2{
    position: absolute;
    left: -760px;
    top: 100px;
    /*z-index: 1001;*/
}

.tanitim-background2 img {
    transform: rotate(190deg);
}

.tanitim-ogrenciler{
    position: absolute;
    right: -70px;
    top: 0px;
    z-index: 1002;
}

.gelisim-destek{padding-top:50px;}

.gelisim-destek span, .bolumler span, .kampuste-yasam span, .egitim-hayati span, .kayseri span{
    font-size:18px;
    color:#FC5B7D;
    font-weight:400;
    font-family: 'Dosis', sans-serif;
    line-height:40px;
}

.gelisim-destek h1, .bolumler h1, .kampuste-yasam h1, .egitim-hayati h1, .kayseri h1{
    font-size:49px;
    color:#333333;
    font-weight:300;
    font-family: 'Dosis', sans-serif;
    line-height:40px;
    margin-bottom:20px;
}

.gelisim-destek p, .kayseri p{
    font-family: 'Roboto', sans-serif;
    font-size:18px;
    color:#666666;
    line-height:25px;
}

.mini-tablo-genel{
    float:left;
    width:290px;
    margin-right:30px;
    text-align:center;
}

.mini-tablo-genel .table td, .mini-tablo-genel .table th{border-top:0px; font-size:15px;}
.mini-tablo-genel .table thead th{border-bottom:4px #CCCCCC solid;}
.tanitim-background-mobil, .tanitim-background2-mobil{display:none;}

.yuvarlak01 {
    animation: movebounce 3.9s linear infinite;
    position: absolute;
    top: 280px;
    right: 300px;
    z-index: 9990;
}

.yuvarlak02 {
    animation: movebounce 6.9s linear infinite;
    position: absolute;
    top: 390px;
    right: 450px;
    z-index: 999;
}

.yuvarlak03 {
    animation: movebounce2 5.0s linear infinite;
    position: absolute;
    top: 280px;
    right: -50px;
    z-index: 990;
}

.yuvarlak04 {
    animation: movebounce 6.9s linear infinite;
    position: absolute;
    top: 550px;
    right: -250px;
    z-index: 9990;
}

@keyframes movebounce {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(20px); }
  100% {
    transform: translateY(0px); } }

@keyframes movebounce2 {
  0% {
    transform: translateX(0px); }
  50% {
    transform: translateX(20px); }
  100% {
    transform: translateX(0px); } }

.tanitim-kutular{
    position:absolute;
    z-index:5000;
    float:right;
    margin-top:250px;
}

.avantaj-kutu{
    float:left;
    width:255px;
    height:225px;
    background-color:#ffffff;
    border-radius:10px;
    text-align:center;
    padding:15px;
    margin-left:50px;
    margin-bottom:45px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.akutu2{top:-70px; position:relative;}
.avantaj-hover{display:none;}
.avantaj-resim{height:100px;display: inline-flex;}

.avantaj-kutu p{
    font-size:26px;
    color:#333333;
    font-weight:700;
    font-family: 'Roboto', sans-serif;
    padding-top:10px;
    line-height:30px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.avantaj-kutu p span{
    font-size:21px;
    color:#666666;
    font-weight:400;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.avantaj-secili, .avantaj-kutu:hover{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0ecad4+45,4ce2c3+100 */
    background: rgb(14,202,212); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(14,202,212,1) 45%, rgba(76,226,195,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(14,202,212,1) 45%,rgba(76,226,195,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(14,202,212,1) 45%,rgba(76,226,195,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0ecad4', endColorstr='#4ce2c3',GradientType=1 ); /* IE6-9 */
}

.avantaj-secili p, .avantaj-kutu:hover p, .avantaj-secili p span, .avantaj-kutu:hover p span{color:#ffffff;}
.avantaj-secili .avantaj-active, .avantaj-kutu:hover .avantaj-active{display:none;}
.avantaj-secili .avantaj-hover, .avantaj-kutu:hover .avantaj-hover{display:inline-block;}



@media (max-width: 1200px) {
.tanitim-background{right:-960px;}
.tanitim-ogrenciler{right:-100px}
.mini-tablo-genel{width:260px;}
.yuvarlak01{top: 420px;right: 260px;}
.yuvarlak02{top: 540px;right: 400px;}

}


@media (max-width: 992px) {
.tanitim-background{right:-1060px;}
.tanitim-ogrenciler img{width:350px; top:100px;}
.tanitim-ogrenciler{top:100px;}
.gelisim-destek h1, .bolumler h1{font-size:40px;}
.gelisim-destek p{font-size:16px;}
.tablo-mobil-yok thead{display:none;}
.mini-tablo-genel td{width:50%;}
.mini-tablo-genel{width:350px;}
.mini-tablo-genel table{margin-bottom:0px;}
.mini-tablo-genel tbody{border-top: 1px solid #dee2e6!important;}
.yuvarlak01{top: 570px;right: 130px;}
.yuvarlak02{top: 630px;right: 240px;}
.yuvarlak04{display:none;}

}




@media (max-width: 768px) {
.tanitim-ogrenciler{display:none;}
.tanitim-background img{display:none;}
.gelisim-yazi{position:relative; z-index:1003;}
.mini-tablo-genel{width:100%;}
.tanitim-background-mobil{display:inline-block; width:100%; position:absolute;margin-left: -15px; overflow:hidden; margin-top:-140px; padding-top:70px; padding-bottom:70px;}
.tanitim-background-mobil img{margin: 0px 0px 0px 50px;transform: rotate(200deg);width: 900px;}
.tanitim-background2{display:none;}
.tanitim-background2-mobil{display:inline-block; width:100%; position:absolute;margin-left: -15px; overflow:hidden; z-index: 999; }
.tanitim-background2-mobil img{margin: 0px 0px 0px -860px;transform: rotate(170deg);}
.yuvarlak01, .yuvarlak02{display:none;}
.avantaj-kutu{width:230px;margin-left: 20px;}
.avantaj-kutu p{font-size:22px;}
.avantaj-kutu p span{font-size:18px;}
.yuvarlak03 {top: 130px;right: unset; left:120px;}
.yuvarlak04 {top: 700px; right:0px; display:inline-block;} 

}

@media (max-width: 576px) {
.avantaj-kutu{float:none; margin-left:unset; width:100%;}
.akutu2{top:unset; position:unset;}
.tanitim-kutular{position:relative; float:none;}
.avantaj-kutu p{font-size:25px;}
.avantaj-kutu p span{font-size:21px;}
.avantaj-secili2{background: rgb(14,202,212); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(14,202,212,1) 45%, rgba(76,226,195,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(14,202,212,1) 45%,rgba(76,226,195,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(14,202,212,1) 45%,rgba(76,226,195,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0ecad4', endColorstr='#4ce2c3',GradientType=1 ); /* IE6-9 */}
.avantaj-secili2 p, .avantaj-secili2 p span{color:#ffffff;}
.avantaj-secili2 .avantaj-active{display:none;}
.avantaj-secili2 .avantaj-hover{display:inline-block;}
.yuvarlak04 {top: 1230px; right:240px; z-index:-1}
.tanitim-background2-mobil img{margin: 0px 0px 0px -1000px;}
.yuvarlak03 {top: 210px;}

}


/* ----------------------------------------------------------------------
	FAKÜLTE VE BÖLÜMLERİMİZ
---------------------------------------------------------------------- */

.avantaj-kutulari{height:1200px;}

.tanitim-fakulte {
    position: absolute;
    animation: movebounce 4.0s linear infinite;
    right: 50px;
    top: 100px;
    z-index: 1002;
}

.fakulteler .card{
    margin-bottom:20px;
    background-color:transparent;
    border:0px;
}

.fakulteler .card-header{
    padding:0px 0px;
    background-color:#ffffff;
    border-bottom:0px;
    border-radius:30px;
    border:1px #eeeeee solid;
    position:relative;
    z-index:99;
}

.fakulteler .card:not(:first-of-type) .card-header:first-child{border-radius:30px;}

.fakulteler .btn{
    display:block;
    font-size:16px;
    color:#333333;
    font-weight:600;
    width:100%;
    text-align:left;
    padding:15px 20px;
    line-height:25px;
}

.fakulteler .btn:hover, .fakulteler .btn:active, .fakulteler .btn:focus{text-decoration:none; color:#333333;}

.fakulteler .collapse, .fakulteler .collapsing{
    background-color:#ffffff;
    padding:50px 15px 15px 15px;
    margin-top:-59px;
    border-radius:30px;
    border:1px #eeeeee solid;
    position:relative;
    z-index:9;
}

.fakulteler, .bolumler-mobil .text-center{max-width:900px;}

.fakulteler .card-body{padding:15px 15px;}

.fakulteler .card-body ul li{
    list-style:none;
}

.fakulteler .card-body ul li a{
    font-size:15px;
    font-weight:500;
    display:block;
    line-height:25px;
    padding:10px 0px;
    border-top:1px #eeeeee solid;
}

.fakulteler .card-body ul li:first-child a{
    border-top:0px ;
}

.fakulteler .btn-link:after{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: "\f107";
    right: 30px;
    position: absolute;
}

.yuvarlak05 {
    animation: movebounce2 6.9s linear infinite;
    position: absolute;
    top: 0px;
    right: -150px;
    z-index: -1;
}

.kare01 {
    animation: movebounce 6.9s linear infinite;
    position: absolute;
    top: 430px;
    right: 480px;
    z-index: 999;
}

.uclu01 {
    animation: movebounce 9.0s linear infinite;
    position: absolute;
    top: 580px;
    right: -400px;
    z-index: -1;
}

@media (max-width: 768px) {
.tanitim-fakulte{display:none;}
.bolumler-mobil{z-index:999;}
.yuvarlak05{display:none;}
.uclu01{right:unset; left:-170px;}


}

@media (max-width: 576px) {
.avantaj-kutulari {height: 2000px;}
.fakulteler .btn{font-size:14px;}

}


/* ----------------------------------------------------------------------
	KAMPÜSTE YAŞAM
---------------------------------------------------------------------- */
.kampuste-yasam{padding:100px 0px;}
.egitim-hayati{padding:150px 0px 150px;}
.slide-ust-tablo{padding-top:50px;}

.slide-alt-tablo{
    width:100%;
    max-width:1400px;
    margin:0px auto;
    height:290px;
    background-color:#FAFAFA;
    margin-top:70px; border:1px #EEEEEE solid;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.10);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.10);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.10);
    margin-top:-280px;
}

.kampusdeyasam .slide-resim{
    border:1px #EDEDED solid;
    background-color:#ffffff;
    padding:10px;
}

.kampusdeyasam .item{margin:0px 10px;}

.kampusdeyasam h4{
    font-size:20px;
    color:#333333;
    font-weight:600;
    padding-top:10px;
}

.kampusdeyasam p{
    font-size:15px;
    color:#878787;
    font-weight:400;
    line-height:20px;
    height:80px;
    overflow:hidden;
}

.slide-alt{
    text-align:right;
    margin:0px auto;
    width:100%;
    max-width:1400px;
}

.kampusdeyasam .owl-nav [class*=owl-]{
    width:40px; height:40px;
    line-height:30px;
    text-align:center;
    display:inline-block;
    border-radius:50%!important;
    background-color:#FAFAFA!important;
    color:#898989!important;
    position:relative;
    top:80px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}



@media (max-width: 576px) {
.kampuste-yasam {padding: 30px 0px;}

}


/* ----------------------------------------------------------------------
	PUANLAR & KONTENJANLAR
---------------------------------------------------------------------- */
.puan-kontenjan{margin-top:-100px!important;}

.puan-kontenjan .tanitim-background{
    top:-450px;
    z-index:-1;
}

.tanitim-bulut{
    position: absolute;
    right: -170px;
    top: 0px;
    z-index: 1002;
    animation: movebounce 3.0s linear infinite;
}

.kontenjan-tablosu{
    background-color:#ffffff;
    padding:15px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
    position:relative;
    z-index:9990;
}

.kontenjan-tablosu .table td, .kontenjan-tablosu .table th{border-top:0px; font-size:14px; line-height:15px; color:#666666; font-weight:600; text-align:center;}
.kontenjan-tablosu .kont-baslik{color:#333333!important; font-size:20px!important; text-align:left!important;}
.kontenjan-tablosu .text-left{font-weight:400; color:#666666;}
.kontenjan-tablosu .table thead th{border-bottom:4px #CCCCCC solid;}
.kontenjan-tablosu strong{font-size:16px; font-weight:700; color:#333333;}

.tanitim-background3{
    position: absolute;
    left: -760px;
    top: -50px;
    z-index: -1;
}

.kayseri-metin{padding-top:200px;}

.btn-tanitim{
    display:inline-block;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0ecad4+45,4ce2c3+100 */
    background: rgb(14,202,212); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(14,202,212,1) 45%, rgba(76,226,195,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(14,202,212,1) 45%,rgba(76,226,195,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(14,202,212,1) 45%,rgba(76,226,195,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0ecad4', endColorstr='#4ce2c3',GradientType=1 ); /* IE6-9 */
    color:#ffffff;
    border-radius:30px!important;
    font-family: 'Roboto', sans-serif;
    font-weight:700;
    line-height:25px;
    padding:15px 30px;
    font-size:18px;
}

.btn-tanitim:hover, .btn-tanitim:active, .btn-tanitim:focus{color:#ffffff; text-decoration:none;}

.yuvarlak06{
    animation: movebounce2 6.9s linear infinite;
    position: absolute;
    top: 20px;
    right: -300px;
    z-index: 9990;
}

.yuvarlak07{
    animation: movebounce 6.9s linear infinite;
    position: absolute;
    top: 600px;
    left: 50px;
    z-index: -2;
}

.yuvarlak08{
    animation: movebounce 2.9s linear infinite;
    position: absolute;
    top: 760px;
    left: 100px;
    z-index: -2;
}

.slidemodal .modal-content{background-color:transparent!important;}
.slidemodal .modal-dialog {max-width: 800px;margin: 30px auto;}
.slidemodal .modal-body {position:relative;padding:0px;}
.slidemodal .close { position:absolute;right:-30px;top:0;z-index:999;font-size:2rem;font-weight: normal;color:#fff; opacity:1;}
.slidemodal{z-index:4000!important;}


@media (max-width: 1200px) {
.tanitim-background3{left: -860px;}
.yuvarlak07{left:-50px;}
.yuvarlak08{left:0px;}

}


@media (max-width: 992px) {
    .tanitim-bulut{display:none;}
    .puan-kontenjan .tanitim-background {top: -950px; left: 500px;}
    .tanitim-background3{display:none;}
    .yuvarlak07{left: 600px;top: 500px;}
    .yuvarlak08{left:600px; top:630px;}
    .kayseri{height:unset; padding-bottom:50px;}


}


@media (max-width: 768px) {
    .kontenjan-tablosu .table td, .kontenjan-tablosu .table th{font-size:11px;}
    .kontenjan-tablosu strong{font-size:12px;}
    .slide-alt img{display:none;}
    .slide-alt{height:150px;}
    

}

@media (max-width: 576px) {
    .kayseri-mobil{display:none;}
    .kayseri-metin {padding-top: 50px;}
    .fixed-bottom{font-size: 11px;}

}



.fixed-bottom{
    padding: 5px;
    bottom: 5%;
    left: 80%;
    right: 10px;
    position: fixed;

}


.btn-primary{
    display:inline-block;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0ecad4+45,4ce2c3+100 */
    background: rgb(14,202,212); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(14,202,212,1) 45%, rgba(76,226,195,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(14,202,212,1) 45%,rgba(76,226,195,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(14,202,212,1) 45%,rgba(76,226,195,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0ecad4', endColorstr='#4ce2c3',GradientType=1 ); /* IE6-9 */
    color:#ffffff;
    border-radius:30px!important;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight:700;
    line-height: 24px;
    font-size: 18px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.btn-primary:hover, .btn-tanitim:active, .btn-tanitim:focus{color:#ffffff; text-decoration:none;}

.container-fluid{
    padding: 80px 0px 80px;
}


.text-base{
     color:#FC5B7D;
}

.video-container {
    overflow: hidden;
    position: relative;
    width:80%;
    left: 50%;
    transform: translateX(-50%);
}

.video-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



.slide-slogan-ogrenci{
    font-size:49px;
    font-weight:300;
    font-family: 'Open Sans', sans-serif;
    color:#000000;
    text-shadow: 2px 3px 5px rgba(0,0,0,0.66);
}

.slide-slogan-ogrenci strong{
    font-weight:600;
    font-style:italic;
}

.slide-slogan-ogrenci span{
    display:inline-block;
    padding:15px 30px;
    margin-top: 50px;
    margin-bottom:20px;
    line-height: 50px;
    margin-left:100px;
}

.takvim{
    overflow: hidden;
    position: relative;
    width:70%;
    left: 50%;
    transform: translateX(-50%);
}


.container-takvim{
    position: relative;
}

.container-takvim .takvim-btn{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  padding: 6px 12px;
}

.container-takvim .takvim-btn-daha{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  padding: 6px 12px;
  line-height: 14px;
  font-weight: 10px;
  font-weight: 300px;
}

.mm-wrapper_opening .background-video{margin-left:18px;}

.slide-parlaklik{
    width:100%;
    height:100vh;
    position:absolute;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+30&0.7+0,0+30 */
    background: -moz-linear-gradient(top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 30%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0) 30%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0) 30%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
    z-index:100;

}


.skip-me {
  display: none;
}
.unhide {
  display: block;
}



/* myspace */


.background-video {
  background-position: top center;
  background-repeat: no-repeat;
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}

video,
source {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  height: 100%;
}


.text-myspace{
    position: relative;
    font-size:25px;
    font-weight:300px;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 2px 3px 5px rgba(0,0,0,0.66);
    margin: 20px;
    margin-bottom: 50px;
}